<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Crear Pensum</h4>
        </div>
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="['/academia']" routerLinkActive="active">Listado Academias</a></li>
                  <li class="breadcrumb-item"><a>Crear Pensum</a></li>
                </ol>
              </nav>
            <form #documentoForm="ngForm" (ngSubmit)="addDocumento(documentoForm)">
                <h4>Módulo 1</h4> <br>
                <h5>Semana 1</h5> <br>
                <label>Actividad</label> 
                <div class="form-group">
                  <input class="form-control" type="text" name="actividad_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_actividad_semana1_modulo1"></textarea>
                </div>

                <label>Temas y dinámicas</label> 
                <div class="form-group">
                  <input class="form-control" type="text" name="tema_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_tema_semana1_modulo1" ngModel required></textarea>
                  <input class="form-control" type="text" name="dinamica_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_dinamica_semana1_modulo1" ngModel required></textarea>
                </div>

                <label>Convivencia y consolidación</label> 
                <div class="form-group">
                  <textarea class="form-control" name="convivencia_semana1_modulo1" ngModel required></textarea>
                </div>

                <h5>Semana 2</h5> <br>
                <label>Actividad</label> 
                <div class="form-group">
                  <input class="form-control" type="text" name="actividad_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_actividad_semana1_modulo1"></textarea>
                </div>

                <label>Temas y dinámicas</label> 
                <div class="form-group">
                  <input class="form-control" type="text" name="tema_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_tema_semana1_modulo1" ngModel required></textarea>
                  <input class="form-control" type="text" name="dinamica_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_dinamica_semana1_modulo1" ngModel required></textarea>
                </div>

                <label>Convivencia y consolidación</label> 
                <div class="form-group">
                  <textarea class="form-control" name="convivencia_semana1_modulo1" ngModel required></textarea>
                </div>

                <h5>Semana 3</h5> <br>
                <label>Actividad</label> 
                <div class="form-group">
                  <input class="form-control" type="text" name="actividad_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_actividad_semana1_modulo1"></textarea>
                </div>

                <label>Temas y dinámicas</label> 
                <div class="form-group">
                  <input class="form-control" type="text" name="tema_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_tema_semana1_modulo1" ngModel required></textarea>
                  <input class="form-control" type="text" name="dinamica_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_dinamica_semana1_modulo1" ngModel required></textarea>
                </div>

                <label>Convivencia y consolidación</label> 
                <div class="form-group">
                  <textarea class="form-control" name="convivencia_semana1_modulo1" ngModel required></textarea>
                </div>

                <h5>Semana 4</h5> <br>
                <label>Actividad</label> 
                <div class="form-group">
                  <input class="form-control" type="text" name="actividad_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_actividad_semana1_modulo1"></textarea>
                </div>

                <label>Temas y dinámicas</label> 
                <div class="form-group">
                  <input class="form-control" type="text" name="tema_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_tema_semana1_modulo1" ngModel required></textarea>
                  <input class="form-control" type="text" name="dinamica_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_dinamica_semana1_modulo1" ngModel required></textarea>
                </div>

                <label>Convivencia y consolidación</label> 
                <div class="form-group">
                  <textarea class="form-control" name="convivencia_semana1_modulo1" ngModel required></textarea>
                </div>

                <h5>Semana 6</h5> <br>
                <label>Actividad</label> 
                <div class="form-group">
                  <input class="form-control" type="text" name="actividad_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_actividad_semana1_modulo1"></textarea>
                </div>

                <label>Temas y dinámicas</label> 
                <div class="form-group">
                  <input class="form-control" type="text" name="tema_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_tema_semana1_modulo1" ngModel required></textarea>
                  <input class="form-control" type="text" name="dinamica_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_dinamica_semana1_modulo1" ngModel required></textarea>
                </div>

                <label>Convivencia y consolidación</label> 
                <div class="form-group">
                  <textarea class="form-control" name="convivencia_semana1_modulo1" ngModel required></textarea>
                </div>

                <h5>Semana 7</h5> <br>
                <label>Actividad</label> 
                <div class="form-group">
                  <input class="form-control" type="text" name="actividad_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_actividad_semana1_modulo1"></textarea>
                </div>

                <label>Temas y dinámicas</label> 
                <div class="form-group">
                  <input class="form-control" type="text" name="tema_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_tema_semana1_modulo1" ngModel required></textarea>
                  <input class="form-control" type="text" name="dinamica_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_dinamica_semana1_modulo1" ngModel required></textarea>
                </div>

                <label>Convivencia y consolidación</label> 
                <div class="form-group">
                  <textarea class="form-control" name="convivencia_semana1_modulo1" ngModel required></textarea>
                </div>

                <h5>Semana 8</h5> <br>
                <label>Actividad</label> 
                <div class="form-group">
                  <input class="form-control" type="text" name="actividad_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_actividad_semana1_modulo1"></textarea>
                </div>

                <label>Temas y dinámicas</label> 
                <div class="form-group">
                  <input class="form-control" type="text" name="tema_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_tema_semana1_modulo1" ngModel required></textarea>
                  <input class="form-control" type="text" name="dinamica_semana1_modulo1" ngModel required>
                  <textarea class="form-control" name="desc_dinamica_semana1_modulo1" ngModel required></textarea>
                </div>

                <label>Convivencia y consolidación</label> 
                <div class="form-group">
                  <textarea class="form-control" name="convivencia_semana1_modulo1" ngModel required></textarea>
                </div>
                
                <div class="card-footer text-center">
                    <button [disabled]="!documentoForm.valid" type="submit" class="btn btn-info">Agregar Modulo</button>
                  </div>
              </form>                
        </div>  
      </div>
    </div>
  </div>
</div>

